.hero {
  min-height: 70vh;
  display: flex;
  padding: 4.3rem 7rem;
  position: relative;
}

.hero-title {
  color: var(--primary-text-color);
  text-align: left;
}

.hero-title h1 {
  position: relative;
  font-weight: 500;
  font-size: 4.9rem;
  margin-bottom: 1.5rem;
}

.hero-title h3 {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}


.hero-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px 22px;
  color: #232222;
  background-color: #55FC7B;
  border-radius: 25px;
}

/* animations */





.slide-in-left-hero-title {
  animation: slide-in-left-hero-title 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left-hero-title {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
    background-color: #55FC7B;
  }

  50% {
    background-color: #55FC7B;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
  }
}

.flip-horizontal-top {
  animation: flip-horizontal-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes flip-horizontal-top {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(180deg);
  }
}

/* mobile responsiveness */

@media(max-width: 480px) {
  .hero {
    padding: var(--mobile-padding);
    position: relative;
  }

  .hero-title h1 {
    width: 100%;
    position: relative;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    text-align: left;
  }

  .hero-title h3 {
    text-align: left;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .hero-btn {
    font-size: 1rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 999px) {

  .hero {
    padding: var(--tablet-padding);
    position: relative;

  }

  .hero-title h1 {
    width: 100%;
    position: relative;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  .hero-title h3 {
    text-align: left;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}