.portfolio {
  padding: 4.3rem 7rem;
  padding-bottom: 13rem;
  color: var(--primary-text-color)
}

.portfolio-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23rem;
}

.portfolio-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.portfolio-title h2 {
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 1px;
}

.portfolio-title h3 {
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.portfolio-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 10px 22px;
  border: 2.5px solid #FFFFFF;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 7px #ffffff26;
  color: var(--primary-text-color);
  background-color: var(--primary-text-color);
  background-image: linear-gradient(270deg, var(--primary-bg-color) 50%, transparent 50%);
  background-size: 500px;
  background-position: 99%;
  transition: background 300ms ease-in-out;
}

.port-btn-overlay:hover {
  background-position: 0%;
  color: var(--primary-bg-color);
}

.scale-in-left-port-btn {
  animation: scale-in-left-port-btn 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}

@keyframes scale-in-left-port-btn {
  0% {
    transform: scale(0);
    transform-origin: 0% 50%;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    transform-origin: 0% 50%;
    opacity: 1;
  }
}

.portfolio-cards {
  margin-top: 10rem;
}

.single-portfolio-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

.single-portfolio-card img {
  max-height: 380px;
  width: 600px;
  object-fit: cover;
  box-shadow: 0px 0px 15px 10px rgb(0 0 0 / 54%);
}

.portfolio-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 3rem;
  flex-basis: 40%;
}

.portfolio-info h4 {
  font-weight: 500;
  font-size: 2rem;
}

.portfolio-info h5 {
  font-weight: 500;
  font-size: 1.5rem;
}

.portfolio-info a {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.swiper-slide img {
  width: 36rem;
  border-radius: 5px;
}

.swiper-slide h4 {
  font-size: 0.4rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.swiper-slide p {
  font-size: 0.3rem;
}

.swiper-slide a {
  text-decoration: underline;
  font-size: 0.3rem;
  letter-spacing: 1.5px;
}

/* chatGPT version */

.swiper-container {
  margin: 0 auto;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  gap: 170px;
}

.swiper-component .center-slide {
  object-fit: cover;
  transform: scale(3.6) !important;
  filter: none !important;
  z-index: 1;
}

.swiper-component .swiper-slide {
  width: 175px !important;
  object-fit: cover;
  filter: blur(5px);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}