.portfolio {
  padding: 4.3rem 0rem;
  padding-bottom: 15rem;
  color: var(--primary-text-color);
  margin-bottom: 17rem;
}

.portfolio-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20rem;
}

.portfolio-title {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.portfolio-title h2 {
  font-weight: 400;
  font-size: var(--font-xl);
  margin-bottom: 10px;
}

.portfolio-title h3 {
  font-weight: 300;
  font-size: var(--font-lg);
}

.portfolio-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 10px 16px;
  border: 2.5px solid #FFFFFF;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 7px #ffffff26;
  color: var(--primary-text-color);
  background-color: var(--primary-text-color);
  background-image: linear-gradient(270deg, var(--primary-bg-color) 50%, transparent 50%);
  background-size: 500px;
  background-position: 99%;
  transition: background 300ms ease-in-out;
}

.port-btn-overlay:hover {
  background-position: 0%;
  color: var(--primary-bg-color);
}

.scale-in-left-port-btn {
  animation: scale-in-left-port-btn 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}

@keyframes scale-in-left-port-btn {
  0% {
    transform: scale(0);
    transform-origin: 0% 50%;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    transform-origin: 0% 50%;
    opacity: 1;
  }
}

.custom-slide {
  position: relative;
}

.center-slide-focused {
  display: flex;
  width: 125px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: #00000091;
  padding: 5px 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(13.4%, -15.1%);
}

.portfolio-cards {
  margin-top: 10rem;
}

.single-portfolio-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

.single-portfolio-card img {
  max-height: 380px;
  width: 600px;
  object-fit: cover;
  box-shadow: 0px 0px 15px 10px rgb(0 0 0 / 54%);
}

.portfolio-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 3rem;
  flex-basis: 40%;
}

.portfolio-info h4 {
  font-weight: 500;
  font-size: 2rem;
}

.portfolio-info h5 {
  font-weight: 500;
  font-size: 1.5rem;
}

.portfolio-info a {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.swiper-component {
  margin-bottom: 17rem;
}

.swiper-slide img {
  width: 14rem;
  border-radius: 5px;
}

.swiper-slide h4 {
  font-size: 6px;
  font-weight: 500;
}

.swiper-slide p {
  font-size: 5px;
  margin-bottom: 5px;
  line-height: 1.2;
  font-weight: 300;
}

.swiper-slide a {
  font-size: 4px;
  font-weight: 300;
}

.swiper-component .center-slide {
  object-fit: cover;
  transform: scale(3.6) !important;
  filter: none !important;
  z-index: 1;
}

.swiper-component .swiper-slide {
  /* width: 175px !important; */
  object-fit: cover;
  filter: blur(5px);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.swiper-container {
  width: 90%;
  margin: 0 auto;
}

/* media breakpoints */

@media(max-width: 380px) {
  .swiper-slide img {
    width: 5rem;
  }

  .portfolio {
    padding: var(--mobile-padding);
    margin-bottom: 15rem;
  }

}

@media(max-width: 500px) {

  .portfolio-btn {
    font-size: 1rem;
  }

  .portfolio {
    padding: var(--mobile-padding);
    padding-bottom: 15rem;
  }

  .portoflio-title {
    text-align: left;
  }

  .portfolio-desc {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    margin-bottom: 15rem;
  }

  .swiper-slide img {
    width: 7rem;
  }

  .swiper-slide h4 {
    font-size: 0.5rem;
  }

  .swiper-slide p {
    font-size: 0.22rem;
  }

  .swiper-slide a {
    text-decoration: underline;
    font-size: 0.25rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 1115px) {

  .portfolio {
    padding: var(--tablet-padding);
    padding-bottom: 15rem;
  }

  .portfolio-desc {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .portoflio-title {
    text-align: left;
  }

  .swiper-slide h4 {
    font-size: 0.5rem;
  }

  .swiper-slide p {
    font-size: 0.22rem;
  }

  .swiper-slide a {
    text-decoration: underline;
    font-size: 0.25rem;
  }

  .swiper-slide img {
    width: 11rem;
  }
}