.about {
  color: var(--primary-text-color);
  text-align: left;
  padding: 4.3rem 0rem;
  position: relative;
  z-index: 0;
}

.mobile-h3 {
  display: none;
}

.about h2 {
  font-size: var(--font-lg);
  font-weight: 400;
  margin-bottom: 2rem;
}

.about-cards {
  display: flex;
  gap: 10rem;
  margin-bottom: 16rem;
}

.single-about-card img {
  width: 100%;
  max-width: 190px;
}

.about-socials-icon {
  font-size: 30px;
  margin-right: 0.5rem;
}

.single-about-card {
  max-width: 220px;
  font-weight: 400;
  border-left: 1px solid white;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-about-card h5 {
  font-size: var(--font-sm);
  font-weight: 300;
  margin-bottom: 0.3rem;
}


.single-about-card h3 {
  font-size: var(--font-md);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.single-about-card p {
  font-size: var(--font-sm);
  margin-bottom: 0.5rem;
  word-break: break-all;
  font-weight: 400;
}

.tools-icons {
  color: white;
  font-size: 50px;
  margin-right: 4.5rem;
  margin-bottom: 3.5rem;
}

.tools-icons-container {
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  margin-bottom: 25rem;
}

.top {
  grid-area: top;
}

.mid {
  grid-area: mid;
}

.bot {
  grid-area: bot;
}

.mobile-h3 {
  display: none;
}

.mobile-tools-icons {
  display: none;
}

@media(max-width: 699px) {
  .about {
    padding: var(--mobile-padding);
  }

  .about h2 {
    display: none;
  }

  .mobile-h3 {
    display: block;
    margin-bottom: 1rem;
  }

  .about-cards {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .single-about-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0rem;
    max-width: 40%;
    border-bottom: 1px solid white;
    border-left: none;
    margin-bottom: 4rem;
  }


  .single-about-card img {
    width: 50%;
  }

  .mobile-tools-icons {
    max-width: 40%;
    border-bottom: 1px solid white;
  }

  .tools-icons-container {
    display: none;
  }

  .mobile-tools-icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4rem;
    gap: 1rem;
  }

  .mobile-tools-icons * {
    padding-left: 0rem;
    border-left: none;
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 1115px) {

  .about {
    padding: var(--tablet-padding);
  }

  .mobile-h3 {
    display: none;
  }

  .mobile-tools-icons {
    display: none;
  }

  .about-cards {
    gap: 12%;
  }

  .top {
    width: 45%;
  }

  .mid {
    width: 35%;
  }

  .top,
  .mid {
    display: flex;
  }

  .tools-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tools-icons {
    margin: 0 auto;
  }
}