.about {
  color: var(--primary-text-color);
  text-align: left;
  padding: var(--tablet-padding);
  position: relative;
  z-index: 0;
  padding-top: 9rem;
}

.mobile-h3 {
  display: none;
}

.about h2 {
  font-size: var(--font-lg);
  font-weight: 400;
  margin-bottom: 2rem;
}

.about-cards {
  display: flex;
  gap: 10rem;
  margin-bottom: 16rem;
}

.single-about-card img {
  width: 100%;
  max-width: 190px;
}

.about-socials-icon {
  font-size: 30px;
  margin-right: 0.5rem;
}

.single-about-card {
  max-width: 220px;
  font-weight: 400;
  border-left: 1px solid white;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-about-card h5 {
  font-size: var(--font-sm);
  font-weight: 300;
  margin-bottom: 0.3rem;
}


.single-about-card h3 {
  font-size: var(--font-md);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.single-about-card p {
  font-size: var(--font-sm);
  margin-bottom: 0.5rem;
  word-break: break-all;
  font-weight: 400;
}


@media(max-width: 480px) {

  .about {
    padding: var(--mobile-padding);
  }

  .about-cards {
    flex-direction: column;
    margin-bottom: 10rem;
    gap: 0;
  }

  .single-about-card {
    max-width: 100%;
    gap: 0;
    margin-bottom: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    border: none;
  }

  .single-about-card .single-card-desc {
    margin-left: 2rem;
  }

  .single-about-card p {
    display: none;
  }

  .single-about-card img {
    max-width: 120px;
  }

}

@media screen and (min-width: 481px) and (max-width: 768px) {

  .about {
    padding: var(--tablet-padding);
  }

  .about-cards {
    flex-direction: column;
    margin-bottom: 10rem;
    gap: 0;
  }

  .single-about-card {
    max-width: 100%;
    gap: 0;
    margin-bottom: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    border: none;
  }

  .single-about-card .single-card-desc {
    margin-left: 2rem;
  }

  .single-about-card p {
    display: none;
  }

  .single-about-card img {
    max-width: 120px;
  }


}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .about {
    padding: var(--tablet-padding);
  }

  .about-cards {
    gap: 5rem;
  }
}