.contacts {
  padding: var(--tablet-padding);
  color: var(--primary-text-color);
}

.contacts-container {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.contacts-location img {
  min-width: 320px;
}

.contacts-location p {
  font-weight: 300;
  font-size: 14px;
  margin-left: 8%;
}

.contacts-contacts {
  flex-basis: 300px;
  margin-top: 31px;
}

.contacts-contacts h2 {
  text-align: left;
  font-size: var(--font-xl);
  font-weight: 400;
  margin-bottom: 2rem;
  margin-left: 17%;
}

.email-phone {
  width: 280px;
  margin: 0 auto;
  border: 1px solid var(--primary-text-color);
  border-radius: 15px;
  margin-bottom: 2.5rem;
  font-size: var(--font-sm);
}

.email-phone>div {

  display: flex;
  align-items: center;
}

.email-phone>div a {
  margin-left: 10%;
}

.email-phone div:last-of-type {
  border-top: 1px solid var(--primary-text-color);
}

.email-phone a {
  display: flex;
  text-align: center;
}

.contacts-icon {
  font-size: 2.2rem;
  border: 1px solid var(--primary-text-color);
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
}

/* footer form */


.contacts-form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts-form {
  width: 100%;
  margin-top: 8rem;
}

.contacts-form label {
  font-size: var(--font-sm);
}

.contacts-form form {
  background-color: #313131;
  padding: 25px 43px;
  border-radius: 15px;
}


.contacts-form form input {
  margin-top: 2px;
  height: 2.5rem;
  min-width: 100%;
  background-color: rgba(217, 217, 217, 0.11);
  border-radius: 10px;
  border: none;
  outline: none;
  color: #D9D9D9;
  font-size: var(--font-sm);
  font-family: 'Poppins';
  font-weight: 400;
}

.formError {
  font-weight: 300;
  color: var(--red);
}

/* send form button */

.hide-send-button {
  margin-top: 2.22rem;
  opacity: 0;
}

.send-form-button {
  margin-top: 1.82rem;
  width: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-md);
  border-radius: 25px;
  border: none;
  color: var(--primary-text-color);
  background-color: var(--yellow);
  background-image: linear-gradient(270deg, var(--red) 50%, transparent 50%);
  background-size: 300px;
  background-position: 100%;
  transition: background 300ms ease-in-out;
}

.send-form-btn-overlay:hover {
  background-position: 0%;
  color: var(--primary-bg-color);
}

.send-form-left-port-btn {
  animation: send-form-left-services-btn 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}

@keyframes send-form-left-services-btn {
  0% {
    transform: scale(0);
    transform-origin: 0% 50%;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    transform-origin: 0% 50%;
    opacity: 1;
  }
}


/* white horizontal line and everything below */

.contacts-hr {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1rem;
}

.contacts-hr p {
  font-size: 10px;
  text-align: left;
  font-weight: 300;
}

.contacts-hr a {
  font-size: 3rem;
}


/* switch button footer form buttons fill/call  */

.form-buttons {

  margin-bottom: 0.5rem;
}

.form-buttons *:hover {
  cursor: pointer;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner {
  background-color: #313131;
  margin: 0px;
  height: 50px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: var(--font-sm);
  top: 12px;
  right: 90px;
}

.btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  font-size: var(--font-sm);
  width: 50%;
  position: absolute;
  border-radius: 10px;
  left: -12px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  background: #D9D9D9;
  color: #1D1C1C;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 10px 0px;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner {
  background: #313131;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:after {
  width: 50%;
  content: attr(data-on);
  left: 50%;
  background: #D9D9D9;
}

.btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  left: 100px;
}

.text-flicker-in-glow {
  animation: text-flicker-in-glow 4s linear both;
}

@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  10.1% {
    opacity: 1;
  }

  10.2% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  20.1% {
    opacity: 1;
  }

  20.6% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  30.1% {
    opacity: 1;
  }

  30.5% {
    opacity: 1;
  }

  30.6% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  45.1% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  55.1% {
    opacity: 0;
  }

  57% {
    opacity: 0;
  }

  57.1% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  60.1% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  65.1% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  75.1% {
    opacity: 0;
  }

  77% {
    opacity: 0;
    text-shadow: none;
  }

  77.1% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  85.1% {
    opacity: 0;
  }

  86% {
    opacity: 0;
  }

  86.1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@media(max-width: 480px) {
  .contacts-hr {
    margin-top: 6rem;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    padding: var(--mobile-padding);
  }

  .contacts-contacts h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    margin-left: 0;
  }

  .contacts-container {
    display: block;
    padding-bottom: 22rem;
  }

  .email-phone {
    width: 100%;
    margin: 0;
  }

  .send-form-button {
    right: 0;
    bottom: -9.5rem;
  }

  .contacts-form {
    top: 14.5rem;
    right: 0;
    width: 100%;
  }

  .contacts-location,
  .contacts-location p {
    display: none;
  }

  .btn-color-mode-switch>label.btn-color-mode-switch-inner {
    height: 40px;
  }

  .btn-color-mode-switch>label.btn-color-mode-switch-inner:before,
  .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
    right: 18px;
    font-size: var(--font-sm);
  }

  .btn-color-mode-switch>label.btn-color-mode-switch-inner:before {
    top: 8px
  }

  .btn-color-mode-switch>label.btn-color-mode-switch-inner:after {
    padding: 6px 0;
  }

  .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner:before {
    content: attr(data-off);
    left: 30px;
  }

  .btn-color-mode-switch input[type="checkbox"]:checked+label.btn-color-mode-switch-inner {
    height: 40px;
  }

}

@media (min-width: 481px) and (max-width: 768px) {

  .contacts {
    display: flex;
    flex-direction: column;
    padding: var(--tablet-padding);
    padding-bottom: 0.5rem;
  }

  .contacts-container {
    display: block;
    padding-bottom: 22rem;
  }

  .contacts-form {
    top: 14.5rem;
    width: 100%;
  }

  .send-form-button {
    bottom: -9.5rem;
  }

  .contacts-contacts h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    margin-left: 0;
  }

  .email-phone {
    width: 65%;
    margin: 0;
  }

  .contacts-hr {
    margin-top: 6rem;
  }

  .contacts-location {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 6rem;
    right: -5rem;
  }

  .contacts-location img {
    height: 115px;
    object-fit: contain;
  }

  .contacts-location p {
    font-weight: 300;
    font-size: 14px;
    margin-left: 0%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .contacts {
    display: flex;
    flex-direction: column;
    padding: var(--tablet-padding);
    padding-bottom: 0.5rem;
  }

  .contacts-contacts h2 {
    margin-bottom: 1.5rem;
    margin-left: 2%;
  }

  .contacts-container {
    display: block;
    padding-bottom: 22rem;
  }

  .send-form-button {
    bottom: -9.5rem;
  }

  .contacts-form {
    top: 14.5rem;
    right: 0;
    width: 100%;
  }

  .contacts-location {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 6rem;
    right: -5rem;
  }

  .contacts-location p {
    margin: 0;
  }

  .contacts-location img {
    width: 110px;
    height: 110px;
    object-fit: contain;
  }

  .email-phone {
    width: 75%;
    margin: 0;
  }

  .contacts-hr {
    margin-top: 6rem;
  }
}